<ion-header>

  <ion-navbar>
    <ion-title>Vote for the best speakers!</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="memberForm"  (ngSubmit)="formSubmit()">
 
        <ion-item>
          <ion-label>Best Japanese speaker (non Japanese)</ion-label>
          <ion-select formControlName="nameJapaneseSpeaker">
            <ion-option *ngFor="let member of membersDisplayJapSpeakers" [value]="member.docID">{{member.name}}</ion-option>    
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Best English speaker (Japanese)</ion-label>
          <ion-select formControlName="nameEnglishSpeaker">
            <ion-option *ngFor="let member of membersDisplayEnglishSpeakers" [value]="member.docID">{{member.name}}</ion-option>    
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Most entertaining speaker</ion-label>
          <ion-select formControlName="nameEntertainingSpeaker">
            <ion-option *ngFor="let member of membersDisplayAll" [value]="member.docID">{{member.name}}</ion-option>    
          </ion-select>
        </ion-item>
        <button ion-button [disabled]="!memberForm.valid" type="submit">Vote</button>

  </form>

</ion-content>
